
<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-toolbar color="primary">
      <span>Despesas</span>
    </mat-toolbar>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/despesas">Totais</a>
      <a mat-list-item routerLink="/clientes">por Categoria</a>
      <a mat-list-item routerLink="/pedidos">por fonte</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
  </mat-card>
    
  </mat-sidenav-content>
</mat-sidenav-container>
